body {
	background-color: #172935;
	color: white;
	font-family: 'Roboto';
	font-size: 16px;
	margin: 0%;
	padding: 0%;
}
#changetheme
{
  display: block;
  border: none;
  text-align: right;
  margin-right : 10%;
}
header {
	animation: couleur0 5s infinite alternate-reverse;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#titre {
	display: inline-block;
	width: 80%;
	font-size: 40px;
	margin-top: 0;
  	padding-left: 50px;
  	padding-top: 50px;
  	padding-bottom: 70px;
}

table {
	margin-left: 2%;
	width: 95%;
	border-radius: 10px;
	border: 1px solid white;
	padding: 10px;
	animation: couleur0 5s infinite alternate-reverse;
}

@keyframes couleur0{
    from{background-image:linear-gradient(to top,#172935 , #0498A2 0%);}
    1%{background-image:linear-gradient(to top,#172935 , #0498A2 1%);}
    2%{background-image:linear-gradient(to top,#172935 , #0498A2 2%);}
    3%{background-image:linear-gradient(to top,#172935 , #0498A2 3%);}
    4%{background-image:linear-gradient(to top,#172935 , #0498A2 4%);}
    5%{background-image:linear-gradient(to top,#172935 , #0498A2 5%);}
    6%{background-image:linear-gradient(to top,#172935 , #0498A2 6%);}
    7%{background-image:linear-gradient(to top,#172935 , #0498A2 7%);}
    8%{background-image:linear-gradient(to top,#172935 , #0498A2 8%);}
    9%{background-image:linear-gradient(to top,#172935 , #0498A2 9%);}
    10%{background-image:linear-gradient(to top,#172935 , #0498A2 10%);}
    11%{background-image:linear-gradient(to top,#172935 , #0498A2 11%);}
    12%{background-image:linear-gradient(to top,#172935 , #0498A2 12%);}
    13%{background-image:linear-gradient(to top,#172935 , #0498A2 13%);}
    14%{background-image:linear-gradient(to top,#172935 , #0498A2 14%);}
    15%{background-image:linear-gradient(to top,#172935 , #0498A2 15%);}
    16%{background-image:linear-gradient(to top,#172935 , #0498A2 16%);}
    17%{background-image:linear-gradient(to top,#172935 , #0498A2 17%);}
    18%{background-image:linear-gradient(to top,#172935 , #0498A2 18%);}
    19%{background-image:linear-gradient(to top,#172935 , #0498A2 19%);}
    20%{background-image:linear-gradient(to top,#172935 , #0498A2 20%);}
    21%{background-image:linear-gradient(to top,#172935 , #0498A2 21%);}
    22%{background-image:linear-gradient(to top,#172935 , #0498A2 22%);}
    23%{background-image:linear-gradient(to top,#172935 , #0498A2 23%);}
    24%{background-image:linear-gradient(to top,#172935 , #0498A2 24%);}
    25%{background-image:linear-gradient(to top,#172935 , #0498A2 25%);}
    26%{background-image:linear-gradient(to top,#172935 , #0498A2 26%);}
    27%{background-image:linear-gradient(to top,#172935 , #0498A2 27%);}
    28%{background-image:linear-gradient(to top,#172935 , #0498A2 28%);}
    29%{background-image:linear-gradient(to top,#172935 , #0498A2 29%);}
    30%{background-image:linear-gradient(to top,#172935 , #0498A2 30%);}
    31%{background-image:linear-gradient(to top,#172935 , #0498A2 31%);}
    32%{background-image:linear-gradient(to top,#172935 , #0498A2 32%);}
    33%{background-image:linear-gradient(to top,#172935 , #0498A2 33%);}
    34%{background-image:linear-gradient(to top,#172935 , #0498A2 34%);}
    35%{background-image:linear-gradient(to top,#172935 , #0498A2 35%);}
    36%{background-image:linear-gradient(to top,#172935 , #0498A2 36%);}
    37%{background-image:linear-gradient(to top,#172935 , #0498A2 37%);}
    38%{background-image:linear-gradient(to top,#172935 , #0498A2 38%);}
    39%{background-image:linear-gradient(to top,#172935 , #0498A2 39%);}
    40%{background-image:linear-gradient(to top,#172935 , #0498A2 40%);}
    41%{background-image:linear-gradient(to top,#172935 , #0498A2 41%);}
    42%{background-image:linear-gradient(to top,#172935 , #0498A2 42%);}
    43%{background-image:linear-gradient(to top,#172935 , #0498A2 43%);}
    44%{background-image:linear-gradient(to top,#172935 , #0498A2 44%);}
    45%{background-image:linear-gradient(to top,#172935 , #0498A2 45%);}
    46%{background-image:linear-gradient(to top,#172935 , #0498A2 46%);}
    47%{background-image:linear-gradient(to top,#172935 , #0498A2 47%);}
    48%{background-image:linear-gradient(to top,#172935 , #0498A2 48%);}
    49%{background-image:linear-gradient(to top,#172935 , #0498A2 49%);}
    50%{background-image:linear-gradient(to top,#172935 , #0498A2 50%);}
    51%{background-image:linear-gradient(to top,#172935 , #0498A2 51%);}
    52%{background-image:linear-gradient(to top,#172935 , #0498A2 52%);}
    53%{background-image:linear-gradient(to top,#172935 , #0498A2 53%);}
    54%{background-image:linear-gradient(to top,#172935 , #0498A2 54%);}
    55%{background-image:linear-gradient(to top,#172935 , #0498A2 55%);}
    56%{background-image:linear-gradient(to top,#172935 , #0498A2 56%);}
    57%{background-image:linear-gradient(to top,#172935 , #0498A2 57%);}
    58%{background-image:linear-gradient(to top,#172935 , #0498A2 58%);}
    59%{background-image:linear-gradient(to top,#172935 , #0498A2 59%);}
    60%{background-image:linear-gradient(to top,#172935 , #0498A2 60%);}
    61%{background-image:linear-gradient(to top,#172935 , #0498A2 61%);}
    62%{background-image:linear-gradient(to top,#172935 , #0498A2 62%);}
    63%{background-image:linear-gradient(to top,#172935 , #0498A2 63%);}
    64%{background-image:linear-gradient(to top,#172935 , #0498A2 64%);}
    65%{background-image:linear-gradient(to top,#172935 , #0498A2 65%);}
    66%{background-image:linear-gradient(to top,#172935 , #0498A2 66%);}
    67%{background-image:linear-gradient(to top,#172935 , #0498A2 67%);}
    68%{background-image:linear-gradient(to top,#172935 , #0498A2 68%);}
    69%{background-image:linear-gradient(to top,#172935 , #0498A2 69%);}
    70%{background-image:linear-gradient(to top,#172935 , #0498A2 70%);}
    71%{background-image:linear-gradient(to top,#172935 , #0498A2 71%);}
    72%{background-image:linear-gradient(to top,#172935 , #0498A2 72%);}
    73%{background-image:linear-gradient(to top,#172935 , #0498A2 73%);}
    74%{background-image:linear-gradient(to top,#172935 , #0498A2 74%);}
    75%{background-image:linear-gradient(to top,#172935 , #0498A2 75%);}
    76%{background-image:linear-gradient(to top,#172935 , #0498A2 76%);}
    77%{background-image:linear-gradient(to top,#172935 , #0498A2 77%);}
    78%{background-image:linear-gradient(to top,#172935 , #0498A2 78%);}
    79%{background-image:linear-gradient(to top,#172935 , #0498A2 79%);}
    80%{background-image:linear-gradient(to top,#172935 , #0498A2 80%);}
    81%{background-image:linear-gradient(to top,#172935 , #0498A2 81%);}
    82%{background-image:linear-gradient(to top,#172935 , #0498A2 82%);}
    83%{background-image:linear-gradient(to top,#172935 , #0498A2 83%);}
    84%{background-image:linear-gradient(to top,#172935 , #0498A2 84%);}
    85%{background-image:linear-gradient(to top,#172935 , #0498A2 85%);}
    86%{background-image:linear-gradient(to top,#172935 , #0498A2 86%);}
    87%{background-image:linear-gradient(to top,#172935 , #0498A2 87%);}
    88%{background-image:linear-gradient(to top,#172935 , #0498A2 88%);}
    89%{background-image:linear-gradient(to top,#172935 , #0498A2 89%);}
    90%{background-image:linear-gradient(to top,#172935 , #0498A2 90%);}
    91%{background-image:linear-gradient(to top,#172935 , #0498A2 91%);}
    92%{background-image:linear-gradient(to top,#172935 , #0498A2 92%);}
    93%{background-image:linear-gradient(to top,#172935 , #0498A2 93%);}
    94%{background-image:linear-gradient(to top,#172935 , #0498A2 94%);}
    95%{background-image:linear-gradient(to top,#172935 , #0498A2 95%);}
    96%{background-image:linear-gradient(to top,#172935 , #0498A2 96%);}
    97%{background-image:linear-gradient(to top,#172935 , #0498A2 97%);}
    98%{background-image:linear-gradient(to top,#172935 , #0498A2 98%);}
    99%{background-image:linear-gradient(to top,#172935 , #0498A2 99%);}
    to{background-image:linear-gradient(to top,#172935 , #0498A2 100%);}
}
@keyframes couleur1{
    from{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 0%);}
    1%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 1%);}
    2%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 2%);}
    3%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 3%);}
    4%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 4%);}
    5%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 5%);}
    6%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 6%);}
    7%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 7%);}
    8%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 8%);}
    9%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 9%);}
    10%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 10%);}
    11%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 11%);}
    12%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 12%);}
    13%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 13%);}
    14%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 14%);}
    15%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 15%);}
    16%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 16%);}
    17%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 17%);}
    18%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 18%);}
    19%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 19%);}
    20%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 20%);}
    21%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 21%);}
    22%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 22%);}
    23%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 23%);}
    24%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 24%);}
    25%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 25%);}
    26%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 26%);}
    27%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 27%);}
    28%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 28%);}
    29%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 29%);}
    30%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 30%);}
    31%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 31%);}
    32%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 32%);}
    33%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 33%);}
    34%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 34%);}
    35%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 35%);}
    36%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 36%);}
    37%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 37%);}
    38%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 38%);}
    39%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 39%);}
    40%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 40%);}
    41%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 41%);}
    42%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 42%);}
    43%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 43%);}
    44%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 44%);}
    45%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 45%);}
    46%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 46%);}
    47%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 47%);}
    48%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 48%);}
    49%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 49%);}
    50%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 50%);}
    51%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 51%);}
    52%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 52%);}
    53%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 53%);}
    54%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 54%);}
    55%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 55%);}
    56%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 56%);}
    57%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 57%);}
    58%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 58%);}
    59%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 59%);}
    60%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 60%);}
    61%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 61%);}
    62%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 62%);}
    63%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 63%);}
    64%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 64%);}
    65%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 65%);}
    66%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 66%);}
    67%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 67%);}
    68%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 68%);}
    69%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 69%);}
    70%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 70%);}
    71%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 71%);}
    72%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 72%);}
    73%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 73%);}
    74%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 74%);}
    75%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 75%);}
    76%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 76%);}
    77%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 77%);}
    78%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 78%);}
    79%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 79%);}
    80%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 80%);}
    81%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 81%);}
    82%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 82%);}
    83%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 83%);}
    84%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 84%);}
    85%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 85%);}
    86%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 86%);}
    87%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 87%);}
    88%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 88%);}
    89%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 89%);}
    90%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 90%);}
    91%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 91%);}
    92%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 92%);}
    93%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 93%);}
    94%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 94%);}
    95%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 95%);}
    96%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 96%);}
    97%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 97%);}
    98%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 98%);}
    99%{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 99%);}
    to{background-image:linear-gradient(to top,#cc0000 , #ff4d4d 100%);}
}
@keyframes couleur2{
    from{background-image:linear-gradient(to top,#595959 , #bfbfbf 0%);}
    1%{background-image:linear-gradient(to top,#595959 , #bfbfbf 1%);}
    2%{background-image:linear-gradient(to top,#595959 , #bfbfbf 2%);}
    3%{background-image:linear-gradient(to top,#595959 , #bfbfbf 3%);}
    4%{background-image:linear-gradient(to top,#595959 , #bfbfbf 4%);}
    5%{background-image:linear-gradient(to top,#595959 , #bfbfbf 5%);}
    6%{background-image:linear-gradient(to top,#595959 , #bfbfbf 6%);}
    7%{background-image:linear-gradient(to top,#595959 , #bfbfbf 7%);}
    8%{background-image:linear-gradient(to top,#595959 , #bfbfbf 8%);}
    9%{background-image:linear-gradient(to top,#595959 , #bfbfbf 9%);}
    10%{background-image:linear-gradient(to top,#595959 , #bfbfbf 10%);}
    11%{background-image:linear-gradient(to top,#595959 , #bfbfbf 11%);}
    12%{background-image:linear-gradient(to top,#595959 , #bfbfbf 12%);}
    13%{background-image:linear-gradient(to top,#595959 , #bfbfbf 13%);}
    14%{background-image:linear-gradient(to top,#595959 , #bfbfbf 14%);}
    15%{background-image:linear-gradient(to top,#595959 , #bfbfbf 15%);}
    16%{background-image:linear-gradient(to top,#595959 , #bfbfbf 16%);}
    17%{background-image:linear-gradient(to top,#595959 , #bfbfbf 17%);}
    18%{background-image:linear-gradient(to top,#595959 , #bfbfbf 18%);}
    19%{background-image:linear-gradient(to top,#595959 , #bfbfbf 19%);}
    20%{background-image:linear-gradient(to top,#595959 , #bfbfbf 20%);}
    21%{background-image:linear-gradient(to top,#595959 , #bfbfbf 21%);}
    22%{background-image:linear-gradient(to top,#595959 , #bfbfbf 22%);}
    23%{background-image:linear-gradient(to top,#595959 , #bfbfbf 23%);}
    24%{background-image:linear-gradient(to top,#595959 , #bfbfbf 24%);}
    25%{background-image:linear-gradient(to top,#595959 , #bfbfbf 25%);}
    26%{background-image:linear-gradient(to top,#595959 , #bfbfbf 26%);}
    27%{background-image:linear-gradient(to top,#595959 , #bfbfbf 27%);}
    28%{background-image:linear-gradient(to top,#595959 , #bfbfbf 28%);}
    29%{background-image:linear-gradient(to top,#595959 , #bfbfbf 29%);}
    30%{background-image:linear-gradient(to top,#595959 , #bfbfbf 30%);}
    31%{background-image:linear-gradient(to top,#595959 , #bfbfbf 31%);}
    32%{background-image:linear-gradient(to top,#595959 , #bfbfbf 32%);}
    33%{background-image:linear-gradient(to top,#595959 , #bfbfbf 33%);}
    34%{background-image:linear-gradient(to top,#595959 , #bfbfbf 34%);}
    35%{background-image:linear-gradient(to top,#595959 , #bfbfbf 35%);}
    36%{background-image:linear-gradient(to top,#595959 , #bfbfbf 36%);}
    37%{background-image:linear-gradient(to top,#595959 , #bfbfbf 37%);}
    38%{background-image:linear-gradient(to top,#595959 , #bfbfbf 38%);}
    39%{background-image:linear-gradient(to top,#595959 , #bfbfbf 39%);}
    40%{background-image:linear-gradient(to top,#595959 , #bfbfbf 40%);}
    41%{background-image:linear-gradient(to top,#595959 , #bfbfbf 41%);}
    42%{background-image:linear-gradient(to top,#595959 , #bfbfbf 42%);}
    43%{background-image:linear-gradient(to top,#595959 , #bfbfbf 43%);}
    44%{background-image:linear-gradient(to top,#595959 , #bfbfbf 44%);}
    45%{background-image:linear-gradient(to top,#595959 , #bfbfbf 45%);}
    46%{background-image:linear-gradient(to top,#595959 , #bfbfbf 46%);}
    47%{background-image:linear-gradient(to top,#595959 , #bfbfbf 47%);}
    48%{background-image:linear-gradient(to top,#595959 , #bfbfbf 48%);}
    49%{background-image:linear-gradient(to top,#595959 , #bfbfbf 49%);}
    50%{background-image:linear-gradient(to top,#595959 , #bfbfbf 50%);}
    51%{background-image:linear-gradient(to top,#595959 , #bfbfbf 51%);}
    52%{background-image:linear-gradient(to top,#595959 , #bfbfbf 52%);}
    53%{background-image:linear-gradient(to top,#595959 , #bfbfbf 53%);}
    54%{background-image:linear-gradient(to top,#595959 , #bfbfbf 54%);}
    55%{background-image:linear-gradient(to top,#595959 , #bfbfbf 55%);}
    56%{background-image:linear-gradient(to top,#595959 , #bfbfbf 56%);}
    57%{background-image:linear-gradient(to top,#595959 , #bfbfbf 57%);}
    58%{background-image:linear-gradient(to top,#595959 , #bfbfbf 58%);}
    59%{background-image:linear-gradient(to top,#595959 , #bfbfbf 59%);}
    60%{background-image:linear-gradient(to top,#595959 , #bfbfbf 60%);}
    61%{background-image:linear-gradient(to top,#595959 , #bfbfbf 61%);}
    62%{background-image:linear-gradient(to top,#595959 , #bfbfbf 62%);}
    63%{background-image:linear-gradient(to top,#595959 , #bfbfbf 63%);}
    64%{background-image:linear-gradient(to top,#595959 , #bfbfbf 64%);}
    65%{background-image:linear-gradient(to top,#595959 , #bfbfbf 65%);}
    66%{background-image:linear-gradient(to top,#595959 , #bfbfbf 66%);}
    67%{background-image:linear-gradient(to top,#595959 , #bfbfbf 67%);}
    68%{background-image:linear-gradient(to top,#595959 , #bfbfbf 68%);}
    69%{background-image:linear-gradient(to top,#595959 , #bfbfbf 69%);}
    70%{background-image:linear-gradient(to top,#595959 , #bfbfbf 70%);}
    71%{background-image:linear-gradient(to top,#595959 , #bfbfbf 71%);}
    72%{background-image:linear-gradient(to top,#595959 , #bfbfbf 72%);}
    73%{background-image:linear-gradient(to top,#595959 , #bfbfbf 73%);}
    74%{background-image:linear-gradient(to top,#595959 , #bfbfbf 74%);}
    75%{background-image:linear-gradient(to top,#595959 , #bfbfbf 75%);}
    76%{background-image:linear-gradient(to top,#595959 , #bfbfbf 76%);}
    77%{background-image:linear-gradient(to top,#595959 , #bfbfbf 77%);}
    78%{background-image:linear-gradient(to top,#595959 , #bfbfbf 78%);}
    79%{background-image:linear-gradient(to top,#595959 , #bfbfbf 79%);}
    80%{background-image:linear-gradient(to top,#595959 , #bfbfbf 80%);}
    81%{background-image:linear-gradient(to top,#595959 , #bfbfbf 81%);}
    82%{background-image:linear-gradient(to top,#595959 , #bfbfbf 82%);}
    83%{background-image:linear-gradient(to top,#595959 , #bfbfbf 83%);}
    84%{background-image:linear-gradient(to top,#595959 , #bfbfbf 84%);}
    85%{background-image:linear-gradient(to top,#595959 , #bfbfbf 85%);}
    86%{background-image:linear-gradient(to top,#595959 , #bfbfbf 86%);}
    87%{background-image:linear-gradient(to top,#595959 , #bfbfbf 87%);}
    88%{background-image:linear-gradient(to top,#595959 , #bfbfbf 88%);}
    89%{background-image:linear-gradient(to top,#595959 , #bfbfbf 89%);}
    90%{background-image:linear-gradient(to top,#595959 , #bfbfbf 90%);}
    91%{background-image:linear-gradient(to top,#595959 , #bfbfbf 91%);}
    92%{background-image:linear-gradient(to top,#595959 , #bfbfbf 92%);}
    93%{background-image:linear-gradient(to top,#595959 , #bfbfbf 93%);}
    94%{background-image:linear-gradient(to top,#595959 , #bfbfbf 94%);}
    95%{background-image:linear-gradient(to top,#595959 , #bfbfbf 95%);}
    96%{background-image:linear-gradient(to top,#595959 , #bfbfbf 96%);}
    97%{background-image:linear-gradient(to top,#595959 , #bfbfbf 97%);}
    98%{background-image:linear-gradient(to top,#595959 , #bfbfbf 98%);}
    99%{background-image:linear-gradient(to top,#595959 , #bfbfbf 99%);}
    to{background-image:linear-gradient(to top,#595959 , #bfbfbf 100%);}
}
th {
	vertical-align: top;
}

#liens{
	width: 10%;
}

#infos{
	width: 8%;
}

input {
	border: none;
	transition: 0.3s;
}

#deconnexion{
	background-color: white;
	margin-top: 20px;
	width: 200px;
	height: 35px;
	border-radius: 5px;
	transition: 0.15s;
	margin-left: 2%;
}

#deconnexion:hover{
	margin-top: 15px;
	color: #0498A2;
	height: 45px;
}

select{
	background-color: white;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

#CréerPartie, #RechPartie, #Rank{
	background-color: lightsalmon;
	margin-top: 20px;
	width: 150px;
	height: 35px;
	border-radius: 5px;
	transition: 0.15s;
}

#CréerPartie:hover, #RechPartie:hover, #Rank:hover{
	margin-top: 15px;
	height: 45px;
}
