body {
	background-color: #172935;
	color: white;
	font-family: 'Roboto';
	font-size: 16px;
	margin: 0%;
	padding: 0%;
}

header {
	background-image:linear-gradient(to top, #172935, #0498A2 80%);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#titre {
	display: inline-block;
	width: 80%;
	font-size: 40px;
	margin-top: 0;
  	padding-left: 50px;
  	padding-top: 50px;
  	padding-bottom: 70px;
}

input {
	border: none;
	transition: 0.3s;
}

#deconnexion, #créerPartie, #retour{
	background-color: white;
	margin-top: 20px;
	width: 200px;
	height: 35px;
	border-radius: 5px;
    transition: 0.15s;
}

#deconnexion:hover, #créerPartie:hover, #retour:hover{
	margin-top: 15px;
	color: #0498A2;
	height: 45px;
}

#dimensionGrille, #nbFlaque, #nbMur {
	height: 25px;
	background-color: white;
	border-radius: 10px;
	width: 120px;
	margin-top: 5px;
	margin-bottom: 25px;
	color: #172935AA;
	font-family: 'Roboto';
	font-size: 16px;
	text-indent: 5%;
}
